@import "src/colors";

.container{
  display: flex;
  align-items: stretch;

  border-bottom: 1px solid $blue;

  background-color: #fff;
  &.active{
    color: #fff;
    background-color: $blue;
    .counter {
      .count{
        color: #fff;
      }
    }
    .controls{
      background-color: $headerBackgroundColor;
      &:hover{
        a{
          border-radius: 0;
          background-color: lighten($headerBackgroundColor,10%);
          color: #fff;
        }
      }
      a {
        color: #fff;
      }
    }
  }
  .options{
    width: 0;
    overflow: hidden;
    transition: 0.15s;
    &.opened{
      width: 50px;
    }
    a.delete{
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;

      background-color: $red;
      color: #fff;
      text-decoration: none;
      text-align: center;

      font-weight: bold;
      font-size: 16px;
      transition: 0.3s;
      &:hover{
        font-size: 18px;
      }
    }

  }
  .project-meta{
    flex-grow: 1;
    padding: 5px;
    .projectName{
      font-weight: bold;
    }
    .clientName{
      font-size: 13px;
    }
  }
  .counter{
    display: flex;
    align-items: center;

    padding:0 10px;
    .count{
      font-weight: bold;
      font-size: 15px;
      color: #000;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .controls{
    width: 50px;
    &:hover{
      a{
        color: $headerBackgroundColor;
        border-radius: 50%;
        background-color: #f1f1f1;
      }
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;

      text-decoration: none;
      color: #ccc;
      transition: 0.18s;
      font-size: 14px;
    }
  }
}

.details {
  background-color: #fff;
  padding: 5px 5px 5px 20px;
  border-left: 8px solid $blue;
  border-bottom: 1px solid #ccc;
  &>ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin-bottom: 5px;
      .date{
        font-weight: bold;
      }
      table {
        border:0;
        border-collapse: collapse;
        margin-left: 10px;
        tr{
          &:hover{
            .controls{
              opacity: 100%;
            }
          }
          .controls{
            opacity: 0;
            transition: 150ms;
            padding: 0 10px;
            a:first-child {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
