@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "colors";

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'PTMono';
  src: url('assets/fonts/PTMono-Regular.ttf');
}

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: Manrope, serif;
  background-color: $backgroundColor;
}

.count {
  font-family: PTMono, serif;
}

a {
  color: $blue;
}

button {
  background-color: $blue;
  color: #fff;

  border: 1px solid lighten($blue, 3%);
  padding: 6px 12px;
  font-size: 1em;

  transition: 0.1s;

  &:hover {
    cursor: pointer;

    background-color: #fff;
    color: $blue;
    border-color: $blue;
    border-radius: 3px;
  }

  &.small {
    padding: 2px 4px;
    font-size: 0.8em;
  }

  &.red {
    background-color: $red;
    border: 1px solid lighten($red, 3%);

    &:hover {
      background-color: #fff;
      color: $red;
      border-color: $red;
    }
  }
}
