@import "src/colors";

#header{
  padding: 10px;
  background-color: $headerBackgroundColor;
  display: flex;
  align-items: stretch;

  & > div {
    &.title{
      flex-grow: 1;
      h1{
        margin: 0;
        color: #fff;
      }
    }
    &.timer{
      display: flex;
      align-items: center;

      color: $headerBackgroundColor;
      &:hover{
        cursor: pointer;
      }
      .count{
        background-color: #fff;
        border-radius: 22px;
        padding:5px;
        font-weight: bold;
      }

    }
  }
  & > nav{
    display: flex;
    align-items: center;

    margin-right: 5px;

    a{
      color: #fff;
      text-decoration: none;

      margin: 0 5px;
    }
  }
}
